@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

body {
  font-family: "Inter", sans-serif;
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
 
  --primary: #fca5a5;
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
}

.dark {
  --foreground: #fcfcfc;
  --background: #000;
  --primary: hsl(0, 94%, 82%);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: hsl(213, 4%, 60%);
  --secondary-foreground: #9e9698;
  --feature-card: 0 0 0 1px rgba(255,255,255,.06),0 -1px rgba(255,255,255,.1)
}

@theme {
  /* Primary Color Scale (to generate classes like: bg-primary-100, text-primary-500) */
  --color-primary-100: #fff1e6;
  --color-primary-500: #fca5a5;

  --shadow-feature-card: var(--feature-card);

  /* --- CUSTOM FONT FAMILIES (using --font-<name>) --- */
  --font-inter: var(--font-inter), sans-serif; /* Assumes you are importing the font via CSS variables */
  --font-space-grotesk: var(--font-space-grotesk), sans-serif;
}

@theme inline {  
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
}



@layer base {
 
  body {
    @apply bg-background text-foreground;
  }
  .flex-between {
    @apply flex justify-between items-center;
  }

  .h2-bold {
    @apply text-[24px] font-bold leading-[31.2px];
  }
}
